<body class="bodyUser">

  {{!-- navbar --}}
  <header>
    <nav>
      <div class="nav-wrapper blue lighten-2">
        <a href="/user" class="brand-logo center white-text header-title">User Profile</a>
        <ul class="left hide-on-med-and-down">
          <li><a href="/user"><i class="material-icons">person_outline</i></a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
      </div>
    </nav>
  </header>
  <br>

  {{!-- Main content of page --}}
  <main>
    <div class="container">

      <div class="row">
        {{!-- user details section --}}
        <div class="col m6 l6">
          <div class="card cardOpacity">
            <div class="card-content grey-text text-darken-3">
              <span class="card-title">Your User Details</span>
              <h5>Username: {{user_name}}</h5>
              <h5>email: {{email}}</h5>
              {{!-- <h5>password: {{password}}</h5> --}}
            </div>
            {{!-- Update Details --}}
            <ul class="collapsible">
              <li>
                <div class="collapsible-header"><i class="material-icons">person_outline</i>Update Username</div>
                <div class="collapsible-body">
                  <span class="card-title">Input Your New Username</span>
                  <form id="updateUsernameForm">
                    {{!-- username update input --}}
                    <div class="row update-button-row">
                      <div class="col s10 m10 l10">
                        <div class="input-field center">
                          <input id="updateUsernameInput" type="text" class="validate">
                          <label for="first_name">Username</label>
                        </div>
                      </div>
                      <div class="col s2 m2 l2">
                        <div>
                          <button class="btn-floating btn-small update-button" id="updateUsernameButton" type="submit">
                            <i class="large material-icons">mode_edit</i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </li>
              {{!-- Delete Account --}}
              <li>
                <div class="collapsible-header"><i class="material-icons">delete_outline</i>Delete Account</div>
                <div class="collapsible-body">
                  <!-- Modal Trigger -->
                  <button data-target="modal1" class="delete-button button modal-trigger"
                    id="delete-account-button">Delete
                    Account</button>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Delete Account?</h4>
            <p>Are you sure you want to delete your account? This action cannot be reversed.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="delete-button button" id="finalDeleteButton">Final Delete</button>
          </div>
        </div>

        {{!-- Your Rooms Section --}}
        <div class="col m6 l6">
          <div class="card cardOpacity yourRooms">
            <div class="card-content grey-text text-darken-3">
              <span class="card-title">Your Rooms</span>
              <ul class="collection" id="roomList">
              </ul>
              {{!-- <ul class="collection">
                {{#each room}}
                <li class="collection-item">
                  <div>{{room.room_name}}<a href="/room/{{room.route_name}}" class="secondary-content"><i
                        class="material-icons">delete</i></a></div>
                </li>
                {{/each}} --}}
              </ul>
            </div>

            {{!-- Create A Room Section --}}
            <ul class="collapsible">
              <li>
                <div class="collapsible-header"><i class="material-icons">people_outline</i>Create A Room</div>
                <div class="collapsible-body">
                  <span class="card-title">Create A Room</span>
                  <form id="createRoomForm">
                    <div class="input-field center">
                      <input id="createRoomInput" type="text">
                      <label for="room_name">Room Name</label>
                    </div>
                    <button type="submit" class="button" id="create-room-button">Create Room</button>
                  </form>
                </div>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>







  </main>

  <!--Footer-->
  <footer class="page-footer blue lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l5 s12">
          <h5 class="white-text">DrawScape <i class="fa fa-pencil" style="font-size:24px"></i></h5>
          <p class="grey-text text-lighten-4">Draw away with your friends!</p>
        </div>
        <div class="col l5 offset-14 s12">
          <h6 class="white-text">Built With:</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://materializecss.com/" target="_blank">Materialize</a>
            </li>
            <li><a class="grey-text text-lighten-3" href="https://socket.io/" target="_blank">Socket</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/indyminhas/project2" target="_blank"><i
                  class="fa fa-github" style="font-size:24px"></i></a></li>

          </ul>
        </div>
        <div class="col l2 s12">
          <h6 class="white-text">Created by:</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/domjparker" target="_blank">Dominic
                Parker</i></a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/maria-helbling" target="_blank">Maria
                Helbling</i></a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/MegaGrega" target="_blank">Matthew
                Grega</i></a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/indyminhas" target="_blank">Indy</i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © Copyright 2020 DrawScape
      </div>
    </div>
  </footer>


</body>

<script src="/assets/js/user.js"></script>